h1 {
    font-family: fantasy;
    font-size: 40pt;
}

p {
    font-size: 14pt;
}

p.instructions {
    font-size: 16pt;
    
}

body {
    background-color: #fee7ff
}

td[colspan] {
    text-align: center;
}
  
table {
    background-color: white;
  }
  
th {
    font-size: 14pt;
    border: 2px solid black;
    margin: 1pt;
    padding: 3px 10px;
    text-align: left;
    background-color: lightblue;

} 

td {
    border: 2px solid black;
    margin: 1pt;
    padding: 3px 10px;
    text-align: left;
  }